---
Checks: >
    clang-analyzer-*,
    bugprone-*,
    llvm-*,
    performance-*,
    concurrency-*,
    misc-*,
    -bugprone-reserved-identifier,
    -bugprone-easily-swappable-parameters,
    -llvm-header-guard

WarningsAsErrors: ""
HeaderFileExtensions:
  - h
ImplementationFileExtensions:
  - c
SystemHeaders: false
...
