---
Checks: "clang-diagnostic-*,clang-analyzer-*,-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling"
WarningsAsErrors: ""
HeaderFileExtensions:
  - h
ImplementationFileExtensions:
  - c
SystemHeaders: false
CheckOptions:
  - key: clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling
    value: "0"
...
