bin/*/*
!bin/*/*.*
!bin/*/Kbuild

boot/*/*
!boot/*/*.*
!boot/*/Kbuild

*.lex.c
*.tab.c
*.tab.h

*.o
*.a
*.d

.cache

.config
.config.old

include/config
include/generated

compile_commands.json
scripts/kconfig/mconf
