mainmenu "Openlinux Configuration"

menu "General Setup"
    config CONFIG_WERROR
        bool "Compile the system with -Werror"
	help
	  If you select this option, all compiler warnings will be treated as errors.

    config CONFIG_DEBUG
        bool "Enable Debugging Features"
	help
	  Enable this option to include debugging symbols and additional debug information in the build.
endmenu
